/*
TODO: Search bar
https://www.w3schools.com/howto/howto_css_searchbar.asp

TODO: Gallery page numbers
https://www.w3schools.com/howto/howto_css_pagination.asp
https://www.w3schools.com/howto/howto_css_arrows.asp

TODO: Footer

Star/user ratings?
https://www.w3schools.com/howto/howto_css_star_rating.asp
https://www.w3schools.com/howto/howto_css_user_rating.asp

Fullscreenable videos?
https://www.w3schools.com/howto/howto_js_fullscreen.asp

Aspect ratios?
https://www.w3schools.com/howto/howto_css_aspect_ratio.asp
*/

/* FONTS */

@font-face {
	font-family: dejavu-sans;
	src: url(./fonts/DejaVuSans.ttf);
}
@font-face {
	font-family: dejavu-sans;
	src: url(./fonts/DejaVuSans-Bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: dejavu-sans;
	src: url(./fonts/DejaVuSans-Oblique.ttf);
	font-style: italic;
}
@font-face {
	font-family: dejavu-sans;
	src: url(./fonts/DejaVuSans-BoldOblique.ttf);
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: dejavu-sans;
	src: url(./fonts/DejaVuSansCondensed.ttf);
	font-stretch: condensed;
}
@font-face {
	font-family: dejavu-sans;
	src: url(./fonts/DejaVuSansCondensed-Bold.ttf);
	font-weight: bold;
	font-stretch: condensed;
}
@font-face {
	font-family: dejavu-sans;
	src: url(./fonts/DejaVuSansCondensed.ttf);
	font-style: italic;
	font-stretch: condensed;
}
@font-face {
	font-family: dejavu-sans;
	src: url(./fonts/DejaVuSansCondensed.ttf);
	font-weight: bold;
	font-style: italic;
	font-stretch: condensed;
}

/* DEFAULT STYLE VARIABLES */

:root {
	/* --cover-image: url('images/covers/cover.png'); */

	/* Raw Colors */
	--white: rgba(225, 225, 225);
	--grey: rgba(125, 125, 125);
	--black: rgba(25, 25, 25);
	--brown: rgba(160, 110, 80);
	--orange: rgba(255, 145, 75);
	--yellow: rgba(230, 175, 75);
	--green: rgba(105, 195, 85);
	--blue: rgba(75, 150, 255);
	--purple: rgba(150, 90, 220);
	--pink: rgba(215, 90, 175);
	--red: rgba(255, 75, 75);

	--white-2: rgba(155, 155, 155);
	--grey-2: rgba(75, 75, 75);
	--black-2: rgba(45, 45, 45);
	--brown-2: rgba(100, 70, 50);
	--orange-2: rgba(140, 80, 45);
	--yellow-2: rgba(125, 95, 45);
	--green-2: rgba(60, 110, 50);
	--blue-2: rgba(45, 85, 140);
	--purple-2: rgba(95, 55, 115);
	--pink-2: rgba(120, 55, 95);
	--red-2: rgba(140, 45, 45);

	--black-3: rgba(50, 50, 50);

	--very-dark-overlay: #000000dd;
	--very-light-overlay: #ffffffbb;
	--dark-overlay: #00000099;
	--light-overlay: #ffffff99;
	--dark-overlay-2: #00000055;
	--light-overlay-2: #ffffff55;

	/* Theme Colors */
	--primary: var(--blue);
	--primary-2: var(--blue-2);
	--secondary: var(--purple);
	--secondary-2: var(--purple-2);

	--text: var(--white);
	--text-2: var(--white-2);

	--foreground: var(--grey);
	--foreground-2: var(--grey-2);

	--background: var(--black);
	--background-2: var(--black-2);

	--link: var(--text-2);
	--link-border: var(--grey-2);
	--link-2: var(--blue);
	--link-border-2: var(--blue);

	--header: var(--secondary);
	--header-2: var(--secondary-2);
	--title: var(--text);
	--title-2: var(--text-2);

	--tooltip-text: var(--background);
	--tooltip-background: var(--primary);
	--tooltip-underline: var(--grey);

	--font: dejavu-sans;

	--transition-speed: 0.125s;
	--slow-transition-speed: 0.5s;

}

/* Normal scaling */
:root {
	--text-size: 16px;

	--font-spacing: 0;

	--small-text-size: 0.75rem;
	--small-header-size: 1.25rem;
	--medium-header-size: 1.5rem;
	--header-size: 1.75rem;
	--title-size: 2.25rem;

	--thin-line-thickness: 0.0625rem;
	--line-thickness: 0.125rem;
	--thick-line-thickness: 0.25rem;

	--small-border-radius: 0.125rem;
	--border-radius: 0.5rem;
	--large-border-radius: 1rem;

	/* Spacing */

	--max-page-width: 700px;
	--max-double-page-width: 850px;
	--max-image-size: 700px;
}

/* Increase page widths on 4K screens */

@media only screen and (-moz-min-device-pixel-ratio: 2), 
       only screen and (-o-min-device-pixel-ratio: 2/1), 
       only screen and (-webkit-min-device-pixel-ratio: 2), 
       only screen and (min-device-pixel-ratio: 2) {
	:root {
		--max-double-page-width: 1200px;
	}
}

/* Increase font size on small screens with high resolution */
@media only screen and (hover: none) and (pointer: coarse) and (max-width: 1000px) {
	:root {
		--text-size: 32px;

		--font-spacing: 0;

		--small-text-size: 0.75rem;
		--small-header-size: 1.25rem;
		--medium-header-size: 1.5rem;
		--header-size: 1.75rem;
		--title-size: 2rem;

		--thin-line-thickness: 0.0625rem;
		--line-thickness: 0.125rem;
		--thick-line-thickness: 0.25rem;

		--small-border-radius: 0.125rem;
		--border-radius: 0.5rem;
		--large-border-radius: 1rem;

		/* Spacing */

		--max-page-width: 900px;
		--max-double-page-width: 900px;
		--max-image-size: 900px;
	}
}

* {
	margin: 0;
	padding: 0;
	font-size: var(--text-size);
	font-family: var(--font);
	letter-spacing: var(--font-spacing);
	color: var(--text);
}

html, body {
	background-color: var(--background);
	min-height: 100%; /* At least as tall as the viewport */
}

body {
	opacity: 1;
	transition: opacity var(--transition-speed);
}

/* Hide content if display is way too thin to meaningfully display anything */
@media only screen and (max-width: 300px) {
	body {
		opacity: 0;
	}
}

/* BUILD-IN DEFAULTS */

hr {
	font-size: var(--line-thickness);
	height: 0;
	padding: 0;
	background-color: var(--foreground-2);
	border: var(--line-thickness) solid var(--foreground-2);
	border-radius: 1em;
	width: calc(100% - 2 * var(--line-thickness));
}

.toggle hr {
	margin: 0.75rem 0;
}

/* TEXT */

p {
	font-size: var(--text-size);
	line-height: 1.5;
	margin: 1rem 0;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: var(--header);
}

h1 {
	font-size: var(--header-size);
}

h2 {
	font-size: var(--medium-header-size);
}

h3, h4, h5, h6 {
	font-size: var(--small-header-size);
}

i, .italic {
	font-size: inherit;
	color: inherit;
	font-style: italic;
}

b, .bold {
	font-size: inherit;
	color: inherit;
	font-weight: bold;
}

mark, span {
	color: inherit;
	background-color: transparent;
}

.mini-name {
	color: var(--secondary);
	font-family: inherit;
	font-weight: bold;
}

.first-paragraph {
	font-weight: bold;
	font-stretch: condensed;
}

.non-breaking-paragraph {
	margin: 0;
}

/* GENERAL */

.highlighted {
	background-color: var(--background-2);
}

.shake:hover {
	z-index: 500;
	animation: shake 3s;
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% { transform: translate(0.5px, 0.5px) rotate(0deg); }
	10% { transform: translate(-0.5px, -1px) rotate(-1deg); }
	20% { transform: translate(-1.5px, 0px) rotate(1deg); }
	30% { transform: translate(1.5px, 1px) rotate(0deg); }
	40% { transform: translate(0.5px, -0.5px) rotate(1deg); }
	50% { transform: translate(-0.5px, 1px) rotate(-1deg); }
	60% { transform: translate(-1.5px, 0.5px) rotate(0deg); }
	70% { transform: translate(1.5px, 0.5px) rotate(-1deg); }
	80% { transform: translate(-0.5px, -0.5px) rotate(1deg); }
	90% { transform: translate(0.5px, 1px) rotate(0deg); }
	100% { transform: translate(0.5px, -1px) rotate(-1deg); }
}

.br, .br-1-8, .br-1-4, .br-1-2, .br-1, .br-section, .br-mid-section, .br-page-end {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	opacity: 0;
}

.br, .br-1 {
	height: 1rem;
}

.br-1-2 {
	height: 0.5rem;
}

.br-1-4 {
	height: 0.25rem;
}

.br-1-8 {
	height: 0.125rem;
}

.br-page-end {
	height: 10rem;
}

.br-section {
	height: 2rem;
}

.br-mid-section {
	height: 1rem;
}

.tooltip {
	border-bottom: var(--thin-line-thickness) dotted var(--tooltip-underline);
	position: relative;
	display: inline-block;
	cursor: help;
}

.tooltip .tip::before {
	content: ""; /* Tooltip prefix */
}

.tooltip .tip {
	visibility: hidden;
	font-size: var(--small-text-size);
	width: 9rem;
	margin-left: -5rem;
	color: var(--tooltip-text);
	background-color: var(--tooltip-background);
	border-color: var(--tooltip-background);
	border-radius: var(--border-radius);
	padding: 0.25rem 0.5rem;
	position: absolute;
	z-index: 10;
	bottom: calc(100% + 0.5rem);
	left: 50%;
	opacity: 0;
	transform: scaleX(0%);
	transition: opacity var(--transition-speed), transform var(--transition-speed);
}

.tooltip .tip i, .tooltip .tip b {
	color: var(--tooltip-text);
}

.tooltip .tip::after {
	content: "";
	position: absolute;
	top: 100%;
	left: calc(50% - 1rem);
	margin-left: 0.5rem;
	border-width: 0.5rem;
	border-style: solid;
	border-color: var(--tooltip-background) transparent transparent transparent;
}

.tooltip:hover .tip, .tooltip.active .tip {
	transition-delay: var(--slow-transition-speed);
	opacity: 1;
	transform: scaleX(100%);
	visibility: visible;
}

/* LINKS */

a, a:visited, a .underline, a:visited .underline {
	color: var(--link);
	text-decoration: none;
	border-bottom: var(--link-border) solid var(--thin-line-thickness);
	transition: all var(--transition-speed);
}

a:hover, a:visited:hover, a:hover .underline, a:visited:hover .underline {
	border-bottom: var(--link-border) solid var(--thin-line-thickness);
	color: var(--link-2);
	border-color: var(--link-border-2);
}

/* ICONS */

img {
	border-radius: var(--small-border-radius);
}

img.icon {
	height: 1.5em;
	vertical-align: middle;
	border-radius: var(--small-border-radius);
}

img.icon.inline {
	margin-right: 0.5em;
}

.paint-icon-container {
	display: inline;
	margin: 0;
	padding: var(--line-thickness);
}

.paint-icon-container img.icon {
	height: calc(1.5em - 2 * var(--line-thickness));
}

/* BUTTONS */

.button {
	padding: 0.55em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: all var(--transition-speed);
	font-stretch: condensed;
}

.menu .button {
	padding: 1em;
	margin-bottom: 0;
	font-weight: bold;
}

#gallery .button, #properties .button {
	padding: 0.75rem;
	font-stretch: condensed;
}

.button-container {
	overflow: hidden;
	line-height: 0;
	margin: 0;
	margin-top: -0.25rem; /* Offset the .button margins */
	margin-bottom: -0.25rem; /* Offset the .button margins */
}

.button-container .button {
	color: var(--text);
	background-color: var(--background-2);
	border: var(--background-2) solid 0;
	float: left;
	font-size: var(--text-size);
	text-decoration: none;
	text-align: center;
	border-radius: 1.5em;
	margin-right: var(--border-radius);
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	transition: all var(--transition-speed);
}

.button-container .button:last-child {
	margin-right: 0;
}

.button-container .button:hover {
	color: var(--background);
	background-color: var(--text);
	border-color: var(--text);
}

.button-container .button.active, .button-container .button.active:hover {
	color: var(--background);
	background-color: var(--primary);
	border-color: var(--primary);
}

.button-container .button.logo {
	padding: 0em;
	margin-top: 0;
	margin-bottom: 0;
}

.button-container .button.logo img, .button-container .button.icon img {
	padding-top: var(--thin-line-thickness);
	height: 1.5em;
}

.menu.button-container .button.logo img, .menu.button-container .button.icon img {
	padding-top: 0;
	height: 2.5em;
}

.button-container .button.logo, .button-container .button.logo:hover {
	background-color: transparent;
	border-color: transparent;
}

.button-container.inline {
	margin: 0;
	display: inline;
}

/* NAVBAR */

/* Make navbar vertical on small screens or touch screens. */
@media only screen and (max-width: 550px), only screen and (hover: none) and (pointer: coarse) and (max-width: 1000px) {
	.menu.button-container .button {
		float: none;
		display: block;
		margin-right: 0;
		margin-bottom: var(--border-radius);
		margin-top: 0;
	}

	.menu.button-container .button:last-child {
		margin-bottom: 0;
	}

	.menu.button-container .button.logo {
		padding: 0em;
	}
}

#navbar {
	background-color: var(--background);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0 0 var(--text-size) var(--dark-overlay);
	padding: var(--border-radius);
	margin: 0;
}

#page-cover {
	margin-top: 3.5rem; /* Navbar height */
	width: 100%;
	height: 4rem;
	/* background-image: var(--cover-image); */
	background-position: center;
}

/* Make navbar fixed at the top (except on small screens) */
@media only screen and (max-width: 500px), only screen and (hover: none) and (pointer: coarse) and (max-width: 1000px) {
	#navbar {
		position: relative;
		width: auto;
	}

	#page-cover {
		margin-top: 0;
	}
}

#navbar .logo {
	transition: transform var(--transition-speed);
}

#navbar .logo:hover {
	transform: scale(125%);
}

/* TITLE HEADER */

#title-header .icon {
	width: 5rem;
	height: 5rem;
	margin-top: -3rem;
	padding: 0.25rem;
	background-color: var(--background);
	border-radius: var(--large-border-radius);
}

#title-header a,
#title-header a:hover {
	border-bottom: none;
}

.title {
	color: var(--text-color);
	font-size: var(--title-size);
	font-weight: bold;
}

/* ARTICLE */

#article {
	font-size: var(--text-size);
	margin: auto;
	padding: 0 2rem;
	max-width: var(--max-page-width);
}

#article.double-width {
	max-width: var(--max-double-page-width);
}

#article.full-width {
	max-width: 100%;
}

/* On mobile touch-screen devices, have less wide padding */
@media only screen and (hover: none) and (pointer: coarse) and (max-width: 1000px) {
	#article {
		padding: 0 2rem;
	}
}

.column-container {
	display: block;
	height: 100%;
	max-width: calc(100% + 1.25rem);
	margin: 0 -0.5rem;
}

.column-container .column-item-2 {
	float: left;
	width: calc(50% - 1rem); /* Large screens have 2 columns. */
	padding: 0 0.5rem;
}

@media only screen and (min-width: 1001px) {
	.column-container .single-column-only {
		display: none; /* Display when 2 columns. */
	}

	.column-container .double-column-only {
		display: block; /* Hide when 2 columns. */
	}
}

/* Medium screens have 1 column. */
@media only screen and (max-width: 1000px) {
	#article.double-width {
		max-width: var(--max-page-width);
	}

	.column-container .column-item-2 {
		width: calc(100% - 1rem);
	}

	.column-container .column-item-2:last-child {
		margin-top: -1rem;
	}

	.column-container .single-column-only {
		display: block; /* Display when 1 column. */
	}

	.column-container .double-column-only {
		display: none; /* Hide when 1 column. */
	}
}

/* Used to prevent the following br-section divs from floating to the top and covering the column-container contents. */
hr.invisible {
	opacity: 0;
	margin-bottom: calc(-2rem - 2 * var(--line-thickness));
}

/* SLIDESHOW */

.slideshow {
	max-width: var(--max-image-size);
	margin: 0 auto;
}

.slides {
	width: 100%;
	position: relative;
	margin: auto;
}

.slides .slide {
	border-radius: var(--small-border-radius);
	margin-bottom: -0.25rem;
	overflow: hidden;
	display: none; /* Hide slides by default */
}

.slide img {
	width: 100%;
}

.slideshow .previous,
.slideshow .next,
.slideshow .dots {
	transition: all var(--slow-transition-speed);
}

.slide .caption {
	color: var(--text);
	padding: var(--text-size);
	position: absolute;
	bottom: 2rem;
	width: 100%;
	text-align: center;
}

.slideshow .number {
	font-size: var(--small-text-size);
	padding: var(--text-size);
	position: absolute;
	top: 0;
	right: 0;
	user-select: none;
}

.slideshow-controls {
	padding: 0.32rem 0;
}

.previous, .next {
	cursor: pointer;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 0.5rem;
	margin-top: 0.875rem; /* Adjust since arrow makes top margin slightly less. */
	margin-bottom: 0.5rem;
	font-weight: bold;
	border-radius: var(--border-radius);
	user-select: none;
	color: var(--background);
	background-color: var(--foreground);
	transition: all var(--transition-speed);
}

.previous .arrow, .next .arrow {
	border-color: var(--background);
}

.previous {
	padding-right: 0.375rem;
	float: left;
}

.next {
	padding-left: 0.375rem;
	float: right;
}

@media only screen and (hover: none) and (pointer: coarse) {
	.previous:hover, .next:hover {
		background-color: var(--text);
	}
}

.slideshow .dots {
	width: 100%;
	margin: auto;
	padding-top: 0.25rem;
	text-align: center;
}

.dots .dot {
	cursor: pointer;
	width: 1rem;
	height: 1rem;
	margin: 0 var(--line-thickness);
	border: var(--foreground) solid var(--line-thickness);
	border-radius: 50%;
	display: inline-block;
	transition: all var(--transition-speed);
}

.dots .dot.active {
	background-color: var(--foreground);
}

@media only screen and (hover: none) and (pointer: coarse) {
	.dots .dot:hover {
		border-color: var(--text);
		background-color: var(--text);
	}
}

/* MODAL IMAGE */

#modal {
	pointer-events: none;
	opacity: 0;
	position: fixed;
	z-index: 1000;
	background-color: var(--very-dark-overlay);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transition: opacity var(--transition-speed);
}

#modal #modal-content {
	box-shadow: 0 0 1rem black;
	border-radius: 0;
	max-width: calc(100% - 2rem);
	max-height: calc(100% - 2rem);
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: var(--white);
}

#modal .close {
	cursor: pointer;
	color: var(--text-2);
	/* background-color: var(--dark-overlay-2); */
	margin: 0.5rem;
	padding: 0.75rem 1rem;
	border-radius: var(--border-radius);
	font-size: 2rem;
	font-weight: bold;
	position: fixed;
	top: 0;
	right: 0;
	transition: all var(--transition-speed);
}

#modal .close:hover,
#modal .close:focus {
	color: var(--text);
	/* background-color: var(--dark-overlay); */
}

.modal-able {
	cursor: pointer;
}

/* ARROWS */

.arrow {
	border: solid var(--text);
	border-width: 0 var(--thick-line-thickness) var(--thick-line-thickness) 0;
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	padding: var(--line-thickness);
	margin-bottom: -0.125em;
}

.arrow.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	margin-right: 0.25em;
}

.arrow.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	margin-left: 0.25em;
}

.arrow.up {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	margin-bottom: 0;

}

.arrow.down {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	margin-bottom: -0.25em;

}

/* CALLOUTS */

.callout {
	border-radius: var(--large-border-radius);
	padding: 1rem;
}

.callout p:first-child {
	margin-top: 0;
}

.callout p:last-child {
	margin-bottom: 0;
}

/* TOGGLE */

.toggle {
	border-radius: 1.1rem; /* Slightly larger than 1rem because otherwise the rounded corners don't quite match up */
	padding: 0.5rem 1rem;
	margin: 0;
	width: 100%;
	overflow: hidden;
}

.toggle[open] {
	padding-bottom: 1rem;
}

.toggle summary {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: var(--secondary);
	font-weight: bold;
	cursor: pointer;
	margin: -0.5rem;
	padding: 0.5rem;
}

.toggle-container {
	padding-top: 0.5rem;
	opacity: 0;
	transition: opacity var(--slow-transition-speed);
}

.toggle[open] .toggle-container {
	opacity: 1;
}

/* PROPERTIES */

#properties, #paints-used {
	width: calc(100% - 2rem);
}

#properties th {
	text-align: left;
	font-weight: normal; /* Default th is bold. */
	padding-top: 0.25rem; /* Fix it not aligning with td text for some reason (likely the inline icons). */
	padding-right: 1rem;
	width: 10rem;
	min-width: 10rem; /* Fit "Model Brands(s)" without line breaking. */
	vertical-align: middle;
}

#properties th .icon {
	margin-right: 0.5rem;
}

#properties td {
	padding: 0.25rem 0;
}

/* PAINTS USED */

.paint-used {
	margin: 0;
}

.paint-used a {
	border: none;
}

/* GALLERY */

#gallery {
	width: 100%;
	margin: 0;
}

#gallery-filters  {
	width: 100%;
}

#gallery-items {
	display: inline-block;
	margin: -0.5rem;
	margin-bottom: -0.75rem;
}

.gallery-item {
	display: none;
	float: left;
	border-radius: var(--corner-radius);
	padding: 0.5rem;
	transition: transform var(--transition-speed);
	border: var(--background-2) solid inset var(--thin-line-thickness);
}

.gallery-item:hover {
	transform: scale(101%);
}

.gallery-item img {
	box-shadow: 0 0 var(--thin-line-thickness) var(--dark-overlay);
}

.gallery-item:hover img, .slideshow .slide img {
	box-shadow: 0 0 var(--line-thickness) var(--dark-overlay);
}

/* Large screen: gallery has 4 columns when wide or 2 columns when thin. */
.full-width .gallery-item {
	width: calc(25% - 1rem);
}
.gallery-item {
	width: calc(50% - 1rem);
}

/* Medium screen: gallery has 2 columns when wide or 1 column when thin. */
@media only screen and (max-width: 1200px) {
	.full-width .gallery-item {
		width: calc(50% - 1rem);
	}
	.gallery-item {
		width: calc(100% - 1rem);
	}
}

/* Small screen: gallery has 1 column. */
@media only screen and (max-width: 600px) {
	.full-width .gallery-item, .gallery-item {
		width: calc(100% - 1rem);
	}
}

.gallery-item.show {
	display: block;
}

.gallery-item a {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: block;
	margin-bottom: -0.25em;
	border-bottom: none;
}

.gallery-item img {
	width: 100%;
}

/* BUTTON COLORS */

.button.white {
	color: var(--white);
}
.button.active.white, .button.white:hover, .button.active.white:hover {
	background-color: var(--white);
	border-color: var(--white);
}

.button.grey {
	color: var(--grey);
}
.button.active.grey, .button.grey:hover, .button.active.grey:hover {
	background-color: var(--grey);
	border-color: var(--grey);
}

.button.black {
	color: var(--black);
}
.button.active.black, .button.black:hover, .button.active.black:hover {
	background-color: var(--black);
	border-color: var(--black);
}

.button.brown {
	color: var(--brown);
}
.button.active.brown, .button.brown:hover, .button.active.brown:hover {
	background-color: var(--brown);
	border-color: var(--brown);
}

.button.orange {
	color: var(--orange);
}
.button.active.orange, .button.orange:hover, .button.active.orange:hover {
	background-color: var(--orange);
	border-color: var(--orange);
}

.button.yellow {
	color: var(--yellow);
}
.button.active.yellow, .button.yellow:hover, .button.active.yellow:hover {
	background-color: var(--yellow);
	border-color: var(--yellow);
}

.button.green {
	color: var(--green);
}
.button.active.green, .button.green:hover, .button.active.green:hover {
	background-color: var(--green);
	border-color: var(--green);
}

.button.blue {
	color: var(--blue);
}
.button.active.blue, .button.blue:hover, .button.active.blue:hover {
	background-color: var(--blue);
	border-color: var(--blue);
}

.button.purple {
	color: var(--purple);
}
.button.active.purple, .button.purple:hover, .button.active.purple:hover {
	background-color: var(--purple);
	border-color: var(--purple);
}

.button.pink {
	color: var(--pink);
}
.button.active.pink, .button.pink:hover, .button.active.pink:hover {
	background-color: var(--pink);
	border-color: var(--pink);
}

.button.red {
	color: var(--red);
}
.button.active.red, .button.red:hover, .button.active.red:hover {
	background-color: var(--red);
	border-color: var(--red);
}